body {

    font-size: 10pt;
  
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  
    color: black;
  
    line-height: 14pt;
  
    padding-left: 5pt;
  
    padding-right: 5pt;
  
    padding-top: 5pt;

  
  }
  
  
  h1 {
  
    font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  
    font-weight: bold;
  
    line-height: 20pt;
  
  }
  
  
  p.subheader {
  
    font-weight: bold;
  
    color: #593d87;
  
  }
  
  
  img {
  
    padding: 3pt;
  
    float: right;
  
  }
  
  
  a {
  
    text-decoration: none;
  
  }
  
  
  a:link, a:visited {
  
    color: #8094d6;
  
  }
  
  
  a:hover, a:active {
  
    color: #FF9933;
  
  }
  
  
  div.footer {
  
    font-size: 9pt;
  
    font-style: italic;
  
    line-height: 12pt;
  
    text-align: center;
  
    padding-top: 30pt;
  
  }