<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAST Print</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h3>Fast Print</h3>
    <div class="wrapper">
        <ul>
            <li><a href="/last_sync" id="getSync"><button>get last syncs</button></a></li>
            <li><a><button>search printer</button></a></li>
            <span class="loading" id="getSync_span" style="display:none; float:left">
                <img src="https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif">
            </span>
        </ul>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='listeners.js') }}"></script>
</body>
</html>
