<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>FAST Print</title>
    </head>
    <body>
        <h3>CPS Servers Last Sync and Printers Found</h3>
        <ul>
            {% for d in data %}
            <p>
                <li>server name: {{d.server}}</li>
                <li>last_sync:     {{d.last_sync}}</li>
                <li>printer_count: {{d.printer_count}}</li>
            </p>
            {% endfor %}
        </ul>
    </body>
</html>