<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>FAST Print</title>
    </head>
    <body>
        <h3>Printers Found: {{total}}</h3>
        <ul>
            {% for d in data %}
            <p>
                <li>name:        {{d.printeronName}}</li>
                <li>ip addr:     {{d.device}}</li>
                <li>air enabled: {{d.airEnabled}}</li>
                <li>enabled:     {{d.enabled}}</li>
            </p>
            {% endfor %}
        </ul>
    </body>
</html>